.side {
    text-align: center;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20vh;
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    font-size: 3vh;
    color: #c47436;
    padding-top:10vh;
    .links > fa-icon {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #c47436;
      display: block;
    } 
    // :hover {
    //   color: #f1f1f1;
    //   cursor: pointer;
    // } :last-child::after {
    //   margin-top:2vh;
    //   content: "";
    //   display: block;
    //   width: 1px;
    //   height: 14vh;
    //   background-color: rgb(168, 178, 209);
    //   margin: 0px auto;
    // } :nth-child(2)::before {
    //   margin-top:2vh;
    //   content: "";
    //   display: block;
    //   width: 1px;
    //   height: 8vh;
    //   background-color: rgb(168, 178, 209);
    //   margin: 0px auto;
    // }
    .email {
      color: #e1e5f2;
      font-size: 2vh;
      letter-spacing: 0.1em;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
      padding-left:2vh;
      cursor: pointer;
    } :hover {
      color: #c47436;
      text-decoration: none;
    }
}

@media screen and (max-height: 900px) and (max-width: 900px) {
  .side {
    padding-top: 15vh;
    width: 10vh;
    fa-icon {
    font-size: 18px;
    }
    .email {
      padding-left:2vh;
    }
  }
}