<div class="side">
    <a title="Email me!" href="mailto:jaseleodones@gmail.com" class="email">jaseleodones@gmail.com</a>
    <a href="https://github.com/jaysonleo" target="_blank" class="links">
        <fa-icon [icon]="github" title="Github"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/jayson-leodones-72b65288" target="_blank" class="links">
        <fa-icon [icon]="linkedIn" title="LinkedIn"></fa-icon>
    </a>
    <a href="https://www.facebook.com/jaysonleodones" target="_blank" class="links">
        <fa-icon [icon]="facebook" title="Facebook"></fa-icon>
    </a>
    <a href="https://www.instagram.com/jasethedream/" target="_blank" class="links">
        <fa-icon [icon]="instagram" title="Instagram"></fa-icon>
    </a>
    <a href="https://www.twitter.com/jaysonleodones" target="_blank" class="links">
        <fa-icon [icon]="twitter" title="Twitter"></fa-icon>
    </a>
</div>