<div class="projects">
    <h5>Other Projects</h5>
    <!-- <a href="javascript:void(0)" class="txtlink2">Archive</a> -->

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <fa-icon [icon]="folder" title="Python CRUD" class="folder"></fa-icon>
                <a href="https://jaysonleodones.pythonanywhere.com/" target="_blank">
                    <fa-icon [icon]="externalLink" title="pythonanywhere" class="extLink">
                    </fa-icon>
                </a>
                <h2>Python CRUD Application</h2>
                <p>A simple web application that can create, read, update and delete records.</p>
                <p><i>Python, Django</i></p>
            </div>
        </div>
    </div>
</div>