<div class="work">
    <h5>Work Experience</h5>
    <hr>
    <div class="row">
        <div class="col-md-2 mb-3">
            <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="job1-tab" data-toggle="tab" href="#job1" role="tab"
                        aria-controls="job1" aria-selected="true">PCCW Solutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="job2-tab" data-toggle="tab" href="#job2" role="tab" aria-controls="job2"
                        aria-selected="false">Accenture Inc.,</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="job3-tab" data-toggle="tab" href="#job3" role="tab" aria-controls="job3"
                        aria-selected="false">Maersk Global Services Ltd</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="job4-tab" data-toggle="tab" href="#job4" role="tab" aria-controls="job4"
                        aria-selected="false">MSI-ECS(OJT)</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="job1" role="tabpanel" aria-labelledby="job1-tab">
                    <h5>PCCW Solutions Inc.,</h5>
                    <h2>August 2019 - Feb 2020</h2>
                    <h2></h2>
                    <p>We created an application that will be used for the network and fibre infrastructure
                    provider in Singapore. The company is planning to use the application as template for their other
                    potential projects as well. My role in this team is the Front End SME. We used some of my proposed UI/UX designs.
                    </p>
                    <p><i><b>Apps used: VSCode, Eclipse, HeidiSQL, Figma, Draw.io.</b></i></p>
                    <p><i>Techs used: Java, Angular 7, MySQL</i></p>
                </div>
                <div class="tab-pane fade" id="job2" role="tabpanel" aria-labelledby="job2-tab">
                    <h5>Accenture Inc.,</h5>
                    <h2>Feb 2015 - May 2019</h2>
                    <p>The company provided a bootcamp under Avanade and then I got deployed to a team after few days right away. It was an internal project
                        that I was fortunate enough to be part of, since it was created from scratch. The application's goal is for HR to have
                        a way to assign or transfer assets/services assigned to an employee. I stayed for four years in this company. On top of my
                        primary task, I have a secondary task which is to be the on-call support for the application. Before I left the company, I have automated the tasks
                        that is being handled by the on-call support using RPA.
                    </p>
                    <p><i><b>Apps used: Microsoft Applications, VSCode, AWS, AutomationAnywhere, Draw.io</b></i></p>
                    <p><i>Techs used:AngularJS - Angular 6, C#, MySQL</i></p>
                </div>
                <div class="tab-pane fade" id="job3" role="tabpanel" aria-labelledby="job3-tab">
                    <h5>Maersk Global Services Ltd.</h5>
                    <h2>May 2014 - January 2015</h2>
                    <p>I was part of the logistics team in this company. We handled data delivery systems with a high demand
                        for quick turnarounds and shifting timelines. We worked with a team to investigate potential issues that may arise
                        from data delivery, data acquisition, and processing.
                    </p>
                    <p><i><b>Apps used: Microsoft Docs, Unilever MODS</b></i></p>
                </div>
                <div class="tab-pane fade" id="job4" role="tabpanel" aria-labelledby="job4-tab">
                    <h5>MSI-ECS (OJT)</h5>
                    <h2>April 2013 - May 2013</h2>
                    <p>I applied as a Web Designer and mostly I designed their company banner on a daily basis. The banners
                        was used in their home page.
                    </p>
                    <p><i><b>Apps used: Adobe Photoshop, Adobe Lightroom</b></i></p>
                </div>
            </div>
        </div>
    </div>
</div>