/* You can add global styles to this file, and also import other style files */
html,body {
    width:100%;
    height:100%;
    margin: 0;
    top: 0;
    background-color: #022B3A;
    overflow: hidden;
}

p {
    color: #e1e5f2;
}
h1 {
    color: #1f7a8c;
}

h2 {
    color: #BFDBF7;
}

h3 {
    font-size: 10vh;
    color: #e1e5f2;
}

h4 {
    font-size: 10vh;
    color: #c47436;
}

h5 {
    font-size: 5vh;
    color: #c47436;
}

@media only screen and (max-width: 1024px) {
    p{
        font-size: 2vh;
    }
    h1 {
        font-size: 4vh;
    }
    h2 {
        font-size: 3vh;
    }
    h3 {
        font-size: 3vh;
    }
    h4 {
        font-size: 5vh;
    }
    h5 {
        font-size: 3vh;
    }
  }

h5 ::after {
    content: "";
    display: block;
    width: 1px;
    height: 14vh;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
    }