section {
    padding-top: 20vh;
    width:auto;
    height:100%;
}

.main {
    margin-left: 20vh;
    height:100%;
    width:auto;
    overflow: auto;
    scroll-behavior: smooth;
}

.navbar {
    position: sticky;
    background-color: #022B3A;
    padding-left: 10vh;
    padding-top:2vh;
    z-index: 2;
}

@media only screen and (max-width: 1024px) {
    .main {
        margin-left: 15vh;
        height:100%;
        width:auto;
        overflow: auto;
        scroll-behavior: smooth;
    }

    section {
        padding-top: 20vh;
        width:auto;
        height:100%;
    }
}