<app-nav></app-nav>

<div class="main">
    <section id="intro">
        <div class="container">
            <app-intro></app-intro>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <app-about></app-about>
        </div>
    </section>
    <section id="exp">
        <div class="container">
            <app-exp></app-exp>
        </div>
    </section>
    <section id="other">
        <div class="container">
            <app-projects></app-projects>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <app-contact></app-contact>
        </div>
    </section>
</div>