.content {
    width:100%;
    display: flex;
}

.about {
    width:50%;
}

.picture {
    float:right;
    width:50%;
}

li {
    color:white;    
}

@media only screen and (max-width: 600px) {
    .about {
        width:100%;
        p {
        width:100%;
        }
    }
    .picture {
        width: 70%;
    }
    .content {
        height:100%;
    }
}

@media only screen and (max-width: 1024px) {
    .about {
        width:100%;
        p {
        width:100%;
        }
    }
    .picture {
        width: 70%;
    }
    .content {
        height:100%;
    }
}