
<h5>About Me</h5>
<div class="content">
    <div class="about">
        <p>
            Hello! I'm Jayson, a software engineer based in Rizal, Philippines who enjoys building things and solving
            problems that
            interests me on web development. I develop exceptional websites and web apps that provide intuitive,
            pixel-perfect user
            interfaces with efficient and modern backends.
            Shortly after graduating from San Beda University, I joined the logistics team at Maersk where I worked on a
            project with high demand
            for quick turnarounds and shifting timelines. Eventually I had the opportunity to be part of the C# Bootcamp
            with Accenture. I resigned
            after four years of tenuership and became part of PCCW Solutions where I learned more about Java Spring
            boot.

            Here are a few technologies I've been working with recently:

        </p>
        <ul *ngFor="let item of technologies">
            <li>{{item.tech}}</li>
        </ul>

    </div>


    <div class="picture">
        ​<picture>
            <img src="../../../assets/photo.jpg" class="img-fluid"  alt="..." height="65%" width="85%">
        </picture>
    </div>
</div>