.container {
    .row {
        div{
            padding: 5vh;
            border-style: solid;
            border-width:2px;
            border-color: #c47436;
            .folder {
                font-size:5vh;
                color:white;
            }
            .extLink {
                float:right;
                font-size: 3vh;
                color:#4CAF50;
                cursor: pointer;
            }
        }
    }
}



@media only screen and (max-width: 400px) {
    .projects {
        margin-top:100vh;
    }
}