<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <a class="navbar-brand" href="#">
    <img src="../assets/logo1.png" alt="logo" height="45" width="55">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let page of pages">
        <a class="nav-link" href="{{page.link}}">{{page.content}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="resume-btn">
        <a class="nav-link" href="#">Resume</a>
      </li>
    </ul>
  </div>
</nav> -->
<div class="sidenav">
  <p>jaysonleodones@gmail.com</p>
  <fa-icon [icon]="github"></fa-icon>
  <fa-icon [icon]="linkedIn"></fa-icon>
  <fa-icon [icon]="facebook"></fa-icon>
  <fa-icon [icon]="twitter"></fa-icon>
</div>
<div class="main">
  <div class="container">
    <section>
      <div class="container">
        <!-- <app-intro></app-intro> -->
      </div>
    </section>
    <section id="about" class="about">
      <div class="container">
      <!-- <app-about></app-about> -->
      </div>
    </section>
    <section id="work">
      <div class="container">
      <!-- <app-exp></app-exp> -->
      </div>
    </section>
    <section id="projects">
      <div class="container">
      <!-- <app-projects></app-projects> -->
      </div>
    </section>
    <section id="contact" class="contact">
      <div class="container">
      <!-- <app-contact></app-contact> -->
      </div>
    </section>
  </div>  
</div>