.row {
    padding: 5vh;
    // border-style: solid;
    // border-width:2px;
    // border-color: #c47436;
}


@media only screen and (max-width: 400px) {
    .row {
        border-width: 0;
    }
    .work {
        padding-top: 75vh;
    }
}