<div class="contact">
    <h5>Get in Touch!</h5>
    <p>I'm currently looking for any opportunity available! I'm open for freelance, part time or full time work
        opportunities! My inbox
        is always open for any potential project, or just to say hello. I'll try my best to answer your email!
    </p>
</div>
<div class="hello-btn">
    <a title="Email me!" href="mailto:jaseleodones@gmail.com">Email me @ jaseleodones@gmail.com</a>
    <button type="button" class="btn btn-info" (click)="copyToClipboard('jaseleodones@gmail.com')" >Copy Email</button>
</div>